{% extends "layout.html" %}
{% block content %}

<div class="site-header-logo">
    <h1 class="text-center">
        N'hesitez pas à nous contacter si vous avez des questions !
    </h1>
</div>

<div class="row p-4">
    <div class="card mb-4 ml-auto mr-auto" style="width: 95%;" data-aos = "fade-left">
        <div class="card-body">
            <div id = "chart2"></div>
            <p> Voici nos adresses mail: </p>
            <p> <i>thomas.perrin@edu.esiee.fr</i> et <i>sofiane.talbi@edu.esiee.fr</i></p>
            <p> Le lien vers notre github: </p>
            <p> <i> https://github </i></p>
            <p> Enfin le lien du site scrappé: </p>
            <p> <i> https://www.gamecash.fr/ </i></p>
        </div>
    </div>
    
    

</div>



{% endblock %}