{% extends "layout.html" %}
{% block content %}

<div class="site-header-logo">
    <h1 class="text-center">
        A propos de GameCash
    </h1>
    
</div>


<div class="row p-4">
    <div class="card mb-4 ml-auto mr-auto" style="width: 95%;" data-aos = "fade-left">
        <div class="card-body">
            <div id = "chart2"></div>
            <image src="{{ url_for('static', filename='images/logo.png')}}" ></image>
            <p style="color:rgb(255, 255, 255);">.</p>
            <p><i>gamecash.fr</i> est un site de commerce électronique français crée en 2003 sur lequel sont vendus des jeux vidéo et films d'occasion. Nous avons choisis ce site car nous avions déjà réalisé des achats de jeux videos dessus. Nous voulions en savoir plus sur la vente des jeux vidéos (voir "Analyse des données").</p>

        </div>
    </div>
    
    

</div>



{% endblock %}